<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Site Expenses</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/app-sites'"> Sites </a>
      <a mat-button [routerLink]="'/app-expenses'"> Expenses </a>
      <a mat-button [routerLink]="'/app-items'"> Items </a>
      <a mat-button [routerLink]="'/app-party'"> Party </a>
      <a mat-button [routerLink]="'/app-partner'"> Partner </a>
    </div>
  </mat-toolbar-row>
<!--
  <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
    </mat-toolbar-row>
-->
</mat-toolbar>


<!--- SIDE BAR START -->
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/app-sites'"  (click)="sidenav.toggle()"> Sites </a>
      <a mat-list-item [routerLink]="'/app-expenses'"> Expenses </a>
      <a mat-list-item [routerLink]="'/app-items'"> Items </a>
      <a mat-list-item [routerLink]="'/app-party'"> Party </a>
      <a mat-list-item [routerLink]="'/app-partner'"> Partner </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<!--- SIDE BAR END -->